<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to 'Имя (логин): ' + user.name, user_path(user), style: "color:white" %> 
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag(user_avatar(user), class: 'img-icon img-circle', width: "100px") %>
      </div>
      <div>
        Эл. почта:: <%= user.email %><br>
        Зарегистрировался: <%= user.current_sign_in_at %><br/>
        IP при регистрации: <%= user.current_sign_in_ip %><br/>
        Последний раз логинился: <%= user.last_sign_in_at %><br/>
        IP при последнем входе в систему: <%= user.last_sign_in_ip %>
      </div>
    </div>
  </div>
</div>
