<div class="event">
  
  <div class="event-info row">
  	<div class="col-md-12">
  	  

      <div class="event-info-inner row">
       	<div class="col-md-6">

       	  <div class="event-description-show">
       	  	<h1 class="event-title"><%= @event.title %></h1>
       	  	<%# для перевода даты в русский формат используем гем I18n %>
       	  	<%# формат при этом используется из гема russian %>
       	  	<h3><%= l @event.datetime, format: :short %></h3>
       	  	<h3>
       	  	  <small><%= @event.address %></small>
       	  	</h3>
       	  	<p><%= @event.description %></p>
       	  </div>

       	  <% if current_user_can_edit?(@event) %>
       	    <div class="buffer-both">
       	      <%= link_to 'Изменить', edit_event_path(@event), class: "btn btn-primary" %>
       	         	  
       	      <%#= link_to 'Удалить', event_path(@event), class: "btn btn-danger", method: :delete, data: {confirm: 'Уверен что хочешь удалить встречу?'} %>
       	    </div>
       	  <% end %>

       	</div>
      </div>

  	</div>
  </div>



  <div class="row">

    <div class="col-md-8">

      <div class="event-photos">
        <%# кнопка вывода формы добавления фотографии %>
        <div class="buffer-both">
          <%#= link_to 'Добавить фотку', '#', class: "event-photo-form-link" %>
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      </div>

      <div class="event-comments buffer-top">
        <% if current_user %>
          <%= render partial: 'comments/form', 
                  locals: {comment: @new_comment || @event.comments.build} %>
        <% end %>
        <hr/>
        <div>
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p>
          <%= render partial: 'users/user', object: @event.user %>
        </p>
      </div>
      <div class="event-subscriptions">
        <h4>
          Пойдут:
        </h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
            collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div class="event-subscription-form">
        <% if current_user %>
          <h4>Я пойду:</h4>
            <div>
              <%= render partial: 'subscriptions/form', 
                      locals: {subscription: @new_subscription || @event.subscriptions.build} %>
            </div>
        <% end %>
      </div>
    </div>

  </div>

</div>