<div class="event">
  
  <div class="event-info row">
  	<div class="col-md-12">

      <%# Выводим произвольную фотку в качестве фона для шапки события %>
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{event_photo(@event)})" %>
  	  
      <div class="event-info-inner row">
       	<div class="col-md-9">

       	  <div class="event-description-show">
       	  	<h1 class="event-title"><%= @event.title %></h1>
       	  	<%# для перевода даты в русский формат используем гем I18n %>
       	  	<%# формат при этом используется из гема russian %>
       	  	<h3><%= l @event.datetime, format: :short %></h3>
       	  	<h3>
       	  	  <small><%= @event.address %></small>
       	  	</h3>
       	  	<p><%= @event.description %></p>
       	  </div>

       	  <% if current_user_can_edit?(@event) %>
       	    <div class="buffer-both">
       	      <%= link_to 'Изменить', edit_event_path(@event), class: "btn btn-primary" %>
       	         	  
       	      <%#= link_to 'Удалить', event_path(@event), class: "btn btn-danger", method: :delete, data: {confirm: 'Уверен что хочешь удалить встречу?'} %>
       	    </div>
       	  <% end %>

       	</div>
      </div>

  	</div>
  </div>
  
  <br/>

  <div class="row">

    <div class="col-md-8">

      <!-- добавляем гугл карту -->
      <div class="row">
        
          <div id="gmap-dropdown"></div>
          <div id="gmap-list"></div>
          <!-- кнопка для увеличения/уменьшения карты, связана со скриптом ниже -->
          <!-- <button type="button" class="btn btn-default btn-xs" id="gmap-button">больше</ -->

      </div>

              <div>
          <% if current_user %>
            <%= link_to "Создать точку на карте", "#", class: 'event-gmap-dot-form-link' %>
            <div class='event-gmap-dot-form'>
              <%= render partial: 'gmaps/form_gmap', locals: {gmap_dot: @event.gmap_dots.build} %>
            </div>
          <% end %>

        </div>

      <br/>

      <div class="event-photos">
        <div class="event-photos-gallery">
          <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
        </div>
        <%# кнопка вывода формы добавления фотографии %>
        <div class="buffer-both">
          <%= link_to "Добавить фотку", '#', class: 'event-photo-form-link' %>
        </div>

        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @event.photos.build} %>
        </div>
      </div>

      
      <%= @gmap_show.get_lat(@gmap_show.coords) %> ||| <%= @gmap_show.get_lon(@gmap_show.coords) %>



      <%# Рисуем форму для добавления новой фотографии (которая будет скрыта с помощью js) %>
      <div class="event-comments buffer-top">
        <% if current_user %>
          <%= render partial: 'comments/form', 
                  locals: {comment: @event.comments.build} %>
        <% end %>
        <hr/>
        <div>
          <%= render partial: 'comments/comment', collection: @comments_event_collection %>
        </div>
      </div>

    </div>


    <div class="col-md-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p>
          <%= render partial: 'users/user', object: @event.user %>
        </p>
      </div>
      <div class="event-subscriptions">
        <h4>
          Пойдут:
        </h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
            collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div class="event-subscription-form">
        <% if current_user %>
          <h4>Я пойду:</h4>
            <div>
              <%= render partial: 'subscriptions/form', 
                      locals: {subscription: @new_subscription || @event.subscriptions.build} %>
            </div>
        <% end %>
      </div>

      <br/>

    </div>

  </div>

</div>


<!-- пагинация -->
<div class="apple_pagination">
  <%= will_paginate @comments_event_collection %>
</div>


<!-- подключение lightbox2-rails -->
<%= javascript_include_tag 'lightbox' %>
<%= stylesheet_link_tag 'lightbox', :media => "all" %>

<!-- подключение яваскрипта отображения координат и карты -->
<%= render 'gmaps/event_gmap' %>




 
<script>


  /* показываем/скрываем форму загрузки для фотографий */
  $(function(){
    $('.event-photo-form').hide();

    $('.event-photo-form-link').click(function(){
      $('.event-photo-form').slideToggle(300);
      return false;
    });
  });

  
  /* показать/скрыть форму создания точки на карте */

  $(function(){
    $('.event-gmap-dot-form').hide();

    $('.event-gmap-dot-form-link').click(function(){
      $('.event-gmap-dot-form').slideToggle(300);
      return false;
    });
  });

</script>
