<tr>
  <td><%= link_to event.title, admin_content_path(event) %></td>
  <td><%= event.address %></td>
  <td><%= l event.datetime, format: :short %></td>
  <td><%= event.user.name %></td>
  <td>
    <% event.subscriptions.each do |subscription| %>
      <%= subscription.user.name  %>
    <% end %>
  </td>
  <td>Изменить || Удалить</td>
</tr>

  