<nav class="navbar navbar-default" id="admin-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag 'favicon2.ico', class: 'navbar-brand-image'), admin_path, class: 'navbar-brand' %>
      <%= link_to 'GoDrink AdminPanel', admin_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if admin_signed_in? %>
          <li><%= link_to current_admin.name, admin_path %></li>
        <% else %>
          <li><%= link_to 'Войти', new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</nav>
